<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="~{partials/header :: head(pageTitle='Shopping Items')}">

</head>
<body>
<div th:include="~{partials/navbar :: navbar}"></div>
<h1>Items</h1>

<form th:action="@{/join}" method="post">
  <input type="text" name="item-name" placeholder="Item Name" />
  <button class="btn btn-success">Add to Cart</button>
</form>

<div th:each="item : ${shoppingCart}">
  <p class="text-primary" th:text="${item.name}"/>
</div>

<div class="alert alert-danger" th:if="${shoppingCart.size() > 2}">
  This cart has more than two items.
</div>



</body>
</html>
